@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/signalrConnection.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>  
    <div class="col-12 col-xl-6">
        <strong> Height :</strong>
        <label id="lblHeight"></label>    
    </div>  
</div>
